body, html {
    margin: 0;
    padding: 0;
}

#firstNav {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 40px;
}

#leftGuys, #rightGuys {
    display: flex;
    align-items: center;
}

.leftHead {
    color: white;
    flex-direction: row;
    margin: 5px;
    text-decoration: none;
}

.leftHeadSpace {
    color: white;
    font-size: 30px;
}

.rightHeadSpace {
    color: white;
    font-size: 30px;
}
.rightHead {
    color: white;
    flex-direction: row;
    margin: 5px;
    text-decoration: none;
}

#secondNav {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    align-items: center;
}

h1 {
    color: blue;
    margin-right: 20px;
    padding-left: 15px;
}

#searchBar {
    height: 30px;
    width: 75%;
    border: none;
    border-bottom: solid 1px;
    border-color: blue;
}

#searchButton {
    cursor: pointer;
    color: white;
    background-color: blue;
    border: none;
    height: 30px;

}

#savingLink {
    color: white;
    background-color: red;
    padding: 5px;
    margin-left: 20px;
    text-decoration: none;
    margin-right: 25px;
}

/* think i will need to use some sort of flex-grow so buttons stay same size regardless browser */

#thirdNav {
    display: flex;
    flex-direction: column;
    width: 17.5vw;
    padding-left: 5px;
}

#fourthNav {
    margin-left: 5px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    width: 80vw;
    height: 100vw;
}

#midScreen{
    display: flex;
}

.leftMenu {
    cursor: pointer;
    display: flex;
    margin: 2px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    color: white;
}

#productName {
    margin: 0;
    color: white;
    border: solid 0px;
    background-color: blue;
}

#addToCart {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#cartButton {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

#testFourthNav {
}

figure {
    margin: 0;
}

p {
    margin: 5px;
}