body, html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#firstNav {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    margin: - auto;
    height: 40px;
    width: 100%;
    flex: 0 0 auto;
}

#leftGuys, #rightGuys {
    display: flex;
    align-items: center;
}

.leftHead {
    color: white;
    flex-direction: row;
    margin: 5px;
    text-decoration: none;
}

.leftHeadSpace {
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
}

.rightHeadSpace {
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
}

.rightHead {
    color: white;
    flex-direction: row;
    margin: 5px;
    text-decoration: none;
}

#secondNav {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    align-items: center;
}

h1 {
    color: blue;
    margin-right: 20px;
    padding-left: 15px;
}

#searchBar {
    height: 30px;
    width: 850px;
    margin-left: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    border: none;
    border-bottom: solid 1px;
    border-color: blue;
}

#searchButton {
    display: flex;
    cursor: pointer;
    color: white;
    margin-right: 10px;
    background-color: blue;
    border: none;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
}


#savingLink {
    color: white;
    background-color: red;
    padding: 10px;
    font-weight: 700;
    margin-left: 10px;
    text-decoration: none;
    margin-right: 25px;
    white-space: nowrap;
}

/* think i will need to use some sort of flex-grow so buttons stay same size regardless browser */

#thirdNav {
    display: flex;
    flex-direction: column;
    width: 225px;
    padding-left: 5px;
    flex: 0 0 auto; 
}

#fourthNav {
    margin: 5px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4,25%);
    width: 1000px;
}

#midScreen{
    display: flex;
}

.imageContainer {
    position: relative;
    display: inline-block; /* makes container same size as the image */
    
}

.imageContainer img {
    display: block; /* removes small gap under images */
}

.imageText {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
    height: 200px;

    color: black;
    background:white; /* semi-transparent dark background */
    box-sizing: border-box;
}

.leftMenu {
    cursor: pointer;
    display: flex;
    margin: 2px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    color: white;
}

#productName {
    margin: 0;
    color: white;
    border: solid 0px;
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
}

#addToCart {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    align-items: center;
}

h4 {
    margin: 5px;
    color: white;
}

#cartButton {
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 100px;
    margin: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#midScreen {
    flex: 1;
    display: flex;
}

#siteFooter {
    display: flex;
    clear: both;
    width: 100%;
    background-color: blue;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
}

#footHead {
    color: white;
    padding-bottom: 5px;
}

section {
    text-decoration: underline;
    color: white;
}

.footList {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: first baseline;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: none;
    text-decoration: none;
}

.footA {
    color: white;
    text-decoration: none;
}